body {
	text-align:center;
    font-family: sans-serif;
    margin: 10px;
}

div.chat{
    display: inline-block;
    margin: 10px;
}

div.chat div.display{
	height: 15em;
	width: 30em;
	border: solid 1px;
    margin: 0px 0px 10px 0px;
    overflow-y: auto;
    text-align: left;
    padding: 5px;
}

div.chat input{
    font-size: 1em;
    width: 30em;
    height: 22px;
    padding-right: 1em;
    padding-left: 5px;
    margin-right: 0px;
    border: none;
}

div.chat p.sender{
    font-size: 0.8em;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

div.chat p.time{
    font-size: 0.5em;
    color: blue;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

div.chat p.textBody{
    font-size: 0.8em;
    margin: 0px 5px 5px 5px;
    word-wrap: break-word;
}

div.chat div.message{
    border-radius: 5px;
    display: inline-block;
    width: auto;
    max-width: 60%;
    min-width: 20%;
    padding: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

div.chat div.loginMessage{
    display: inline-block;
    width: 90%;
    padding: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

div.g-signin2 > div{
	width: 100% !important;
}