<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="js/jquery-latest.js"></script>
<script src="js/jquery-cookie.js"></script>
</head>
<body>
<h2>TEST CHAT --> Account Kit response redirect...</h2>
<div style="display: none" id="jsonResult" th:text="${akResponse}"></div>
<div style="display: none" id="jsonResultPass" th:text="${akResponsePass}"></div>

<script type="text/javascript">

var data = '{"username": "' + $('#jsonResult').html() + '", "password": "' + $('#jsonResultPass').html() + '"}';

document.cookie = "data=" + data + "; expires=Thu, 18 Dec 2099 12:00:00 UTC";
window.location = 'index.html';

</script>

</body>
</html>